<form id="myform" method="post">  
    <div class="row">
            <div class="col-lg-12">
                <label class="control-label">Area de Analisis:</label><br/>
                <select id="cmbAreaAnalisis" name="cmbAreaAnalisis" class="form-control">

                </select>
            </div>
    </div>
    <div class="row">
            <div class="col-lg-12">
                <label class="control-label">Pregunta:</label><br/>
                <select id="cmbPregunta" name="cmbPregunta" class="form-control">

                </select>
            </div>
    </div>
        <br/>
        <div class="row">
            <div class="col-lg-12">
                <label class="control-label">Aspecto Clave:</label><br/>
                <select id="cmbRespuestaAspectoClave" name="cmbRespuestaAspectoClave" class="form-control">

                </select>
            </div>
    </div>
    <br/>
        <div class="row">
            <div class="col-lg-12">
                <label class="control-label">Descripción:</label><br/>
                <textarea id="txtRespuesta" class="form-control" rows="5"></textarea>
            </div>
           
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-4">
                <label class="control-label">Puntaje Simbólico:</label><br/>
                <select id="cmbPuntaje" name="cmbAspectoCLave" class="form-control">
                    <option value="+">+</option>
                    <option value="++">++</option>
                    <option value="-">-</option>
                    <option value="--">--</option>
                </select>
            </div>
            <div class="col-lg-8">
            </div>
        </div>
        
      	
</form>
