{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Respuesta</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Respuesta</th>
                <td>{{ entity.respuesta }}</td>
            </tr>
            <tr>
                <th>Puntaje</th>
                <td>{{ entity.puntaje }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('respuesta') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
