{% extends 'AppWebBundle:Private:layout.html.twig' %}
{% block ScriptHead %}

{% endblock %}

{% block body %}
<div id="main-body" class="container-fluid">

	<div class="jumbotron">
        <h1>Bienvenido</h1>
        <p>Bienvenido usuario completa tu información</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar">completar mis datos</a>
        </p>
      </div>
</div>

{% endblock %}
{% block ScriptFooter %}
<script type="text/javascript">
    //var ajax=new JAjax();
    //alert(Routing.generate('usuario')); 
    
    //var script="{{ asset('js/pages/Usuario/index.js') }}"
    //new jAjax().Load(Routing.generate('_admin_inicio'),"cuerpo","get","","");
</script>
{% endblock %}