{% extends 'AppWebBundle:Private:layout.html.twig' %}
{% block ScriptHead %}

{% endblock %}

{% block body %}
<div id="cuerpo" style="width: 100%; float: none;">cargando</div>

{% endblock %}
{% block ScriptFooter %}
<script type="text/javascript">
    //var ajax=new JAjax();
    //alert(Routing.generate('usuario')); 
    
    //var script="{{ asset('js/pages/Usuario/index.js') }}"
    //new jAjax().Load(Routing.generate('_admin_inicio'),"cuerpo","get","","");
</script>
{% endblock %}