{% extends 'AppWebBundle:Private:layout.html.twig' %}
{% block ScriptHead %}

{% endblock %}

{% block body %}
<div id="main-body" class="container-fluid">

	<div class="jumbotron">
        <h1>Bienvenido</h1>
        <p>Espera un momento porfavor se esta cargando tu información</p>
        
      </div>
</div>

{% endblock %}
{% block ScriptFooter %}
<script type="text/javascript">
    var ajax=new jAjax();
    var url='';
    {% if user.perfil.id == 1 %}
        url=Routing.generate('_admin_inicio');
    {% endif %}
    {% if user.perfil.id == 2 %}
        url=Routing.generate('_admin_inicio_evaluador');
    {% endif %}
    {% if user.perfil.id == 3 %}
        url=Routing.generate('_admin_inicio_postulante');
    {% endif %}
    new jAjax().Load(url,"main-body","get","","");
</script>
{% endblock %}