{% block ScriptFooter %}
  <script src="{{ asset('js/pages/Security/index.js') }}"></script>
  
  <script src="{{ asset('js/pages/Security/viewNotas.js') }}"></script> 
 
{% endblock %}
<div class="row">
  <div class="col-lg-8" style="padding: 5px 5px 0px 35px;margin: 0px 0px;">
      
  </div>
  <div class="col-lg-4"  style="padding: 5px 35px;margin: 0px 0px;">
<ul class="nav nav-tabs" style="font-size:11px;">
  <li class="active">
    <a href="#ini-tab-1" data-toggle="tab">Mis Notas</a>
  </li>
  <li><a href="#ini-tab-2" data-toggle="tab">Calendario de Concursos</a></li>
 
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="ini-tab-1">
     <div id="container-notas" style="height:300px;">
            <!--contenedor de notas--> 
    </div>
  
  </div>
  <div class="tab-pane" id="ini-tab-2">
  </div>
</div>

         
       
  </div>
</div>


<!--plantilla notas-->
<textarea id="template-notas" style="display:none">
  <p>
    <div class="input-group">
            <input id="txtNota" name="txtNota" type="text" class="form-control">
            <span class="input-group-btn">
            <button class="btn btn-default" type="button">Agregar</button>
            </span>
    </div>
  </p>
   
  <ul id="list-notas" class="list-group"></ul>

 
</textarea>                        
            
<!--plantilla nota-->
<textarea id="template-notas-item" style="display:none;font-size:11px;">
   <a href="#" class="nota-delete" data-id="<%= entity.id %>">
    <i class="glyphicon glyphicon-remove"> </i>
   </a>
   
    <input type="checkbox" name="" value=""/> <%= entity.descripcion %>

</textarea> 
