<table id="gridAddAspectosClave" class="table table-bordered table-condensed table-hover" style="font-size:11px">
	<thead>
		<tr>
		<th></th>
		<th>Criterio</th>
		<th>Descripcion</th>
		
	</thead>
	<tbody>
	
	</tbody>
</table>