{% extends '::base.html.twig' %}

{% block body -%}
    <table class="records_list table table-bordered table-hover table-condensed table-striped" style="width:100%">
        <thead>
            <tr>
                <th class="grid-header">Razon Social</th>
                <th class="grid-header">RUC</th>
                <th class="grid-header">Direccion</th>
                
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.razonsocial }}</td>
                <td>{{ entity.ruc }}</td>
                <td>{{ entity.direccion }}</td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>

       
    {% endblock %}
