
    <h1>GrupoEvaluacion creation</h1>

    <form action="{{ path('grupoevaluacion_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>
