{% extends '::base.html.twig' %}

{% block body -%}
    <table class="records_list table table-bordered table-hover table-condensed table-striped" style="width:100%">
        <thead>
            <tr>
                <th class="grid-header">Nombres</th>
                <th class="grid-header">Apellidos</th>
                <th class="grid-header">Profesion</th>
                
                <th class="grid-header" style="width: 100px;text-align: center;">Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.postulante.razonsocial }}</td>
                <td>{{ entity.postulante.ruc }}</td>
                <td>{{ entity.postulante.direccion }}</td>
                
                 <td style="text-align: center;font-size: 12px;">
                    
                    &nbsp;
                    <a class="btn btn-danger btn-xs" onclick="new OptionButton.Postulante().Delete('{{ entity.id }}')" title="Eliminar"><i class="glyphicon glyphicon-trash"> </i></a>
                
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

       
    {% endblock %}
