<form id="myform">
    
    <select class="form-control" id="evaluadorId" name="evaluadorId">
{% for entity in postulantes%}
        <option value="{{entity.id}}">{{entity.razonsocial}} (RUC:{{entity.ruc}} )</option>
{% endfor%}
</select>
</form>