<form id="myform">
    
    <select class="form-control" id="inscripcionId" name="inscripcionId">
{% for entity in postulantes%}
        <option value="{{entity.inscripcion_id}}">{{entity.razonsocial}} (RUC:{{entity.ruc}} ) {% if entity.nombreproyecto %}- {{entity.nombreproyecto}} {% endif %}</option>
{% endfor%}
</select>
</form>