    <form id="myform" method="post" >
       
        <div class="row">
            <div class="col-lg-12">
                <label class="control-label">Categoria:</label><br/>
                <select id="categoriaId" name="categoriaId" class="form-control">
                {% for entity in entities %}
                         <option value="{{entity.id}}">{{entity.nombre}}</option>
                {% endfor %}
                </select>
            </div>
           
        </div>
       
        
    </form>
